* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4, 1fr);
}

.box {
    background-color: white;
    color: black;
    font-size: 2rem;
    padding: 0.5em;
}